<body>
   <div class="header">
      <div class="logo">
          <a href="index.html">
            <img src="/img/Logo.png" />
          </a>
      </div class="search">
      <form action="index.html" class="search-form">
         <input type="search1" class="search-form-input" placeholder="Search" >
         <input type="image" class="search-form-btn" src="/img/Search.png" border="0" alt="Submit" />
       </form>
   </div>
</body>


.header {  
   display: block;
   background: url(../img/bg.png);
   height: 100%;
   width: 100%;
}

.logo {
   display: block;
   width: 15px;
   height: 60px;
   
}

.search-form-input { 
   display: flex;
   color: #324950;
   padding: 0px 18px 0px 0px;
   border-width: 0px 0px 2px 0px;
   border-color: #324950;
   background: none;
   font-family: 'RobotoSlab-Regular';
   font-size: 14px;
   pa
   width: 200px;
   height: 21px;
   left: 115px;
   top: 20px;
   outline: none;
 }
 
.search-form-btn {
   vertical-align: bottom;     
   background: none;
   cursor: pointer;
   position: relative;
   width: 15px;
   height: 15px;
   left: 1348px;
   top: 23px;
 } 























 .info {
}
.info__container {
     max-width: 1566px;
     padding: 0px 15px;
     margin: auto;
     box-sizing: content-box;
}
.info__body {
     display: flex;
     margin: 0px -15px;
}
.info__column {

}
.info__item {
     padding: 35px 100px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
.item {
}
.info-link {
     color: #324950;
     text-align: center;
     text-align-last: center;
     vertical-align:bottom;
}

<div class="info__container">
               <div class="info__body">
                  <div class="info__column">
                     <ul class="info__item item">
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/wheat.svg" alt="Wheat">Wheat</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/ConfecyionWatermalon.svg" alt="Confecyion Watermalon">Confecyion Watermalon</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/Cover.svg" alt="Cover">Cover</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/ConfectionSunflower.svg" alt="ConfectionSun flower">Confection Sunflower</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/Tomato.svg" alt="Tomato">Tomato</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/EggplantPO.svg" alt="Eggplant P/O">Eggplant P/O</a>
                        </li>
                        <li class="info__item">
                           <a href="" class="info-link">
                              <img src="/img/OrnamentalSunflower.svg" alt="Ornamental Sunflower">Ornamental Sunflower</a>
                        </li>
                     </ul>
                     </div> 
                  </div>
               </div>
            </div>