.header {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     z-index: 50;
}
.header__container_flex{
     padding: 20px 0px;
     display: flex;
     flex-wrap: wrap;
	margin: 0 auto;
     justify-content: space-between; /* выравниваем блок по центру */
     max-width: 1110px;
     margin: auto;
     box-sizing: content-box;
}
.header__container__main {
     flex-grow:0; /* растягивание элементов */
	display: flex; 
     justify-content: flex-start; 
     min-height: 117px;
}
.header__container__side{
	flex-shrink:0; /* Убираем уменьшение = 150 */
	display: flex;
     justify-content: space-between;
	flex-direction: column;
}
.header_logo {
     display: flex;
     width: 226px;
     height: 113px;
}
/* --------------------------------------------------- */
@media (max-width: 1024px){
     .header_logo {
     width: 150px;
     height: 76px
     } 
}
@media (max-width: 768px){
     .header_logo {
     width: 150px;
     height: 76px
     } 
}
/* --------------------------------------------------- */
.header__search {
     display: flex;
     align-self:flex-end;
     margin: 0px -20px;
}
#search__form{  
     
     background: transparent;
     height: 29px;
     padding-left: 0px;
     padding-right: 26px;
     color:#324950;
     outline: none;
     border-bottom: 1px solid #324950;
}
.search__lupa {
     position: relative;
     cursor: pointer;
     top: 5px;
     right: 20px;
     width: 20px;
     height: 20px;
     background: none;
     outline: none;
}
.header__menu {
     text-align: right;
     padding-top: 91px;   
}
/* --------------------------------------------------- */
@media (max-width: 1024px){
     .header__menu {
          margin: 60px 0px 0px 90px;  ;
     } 
}
@media (max-width: 768px){
     .header__menu {
          margin: 30px 0px 0px 5px;
     } 
}
/* --------------------------------------------------- */
.menu{
     padding: 15px 0px;
}
.menu__list {
     flex-wrap: wrap;
     display: flex;
     align-self: flex-end;
}
.menu__item {
     margin: 0px 0px 0px 20px;
     padding: 15px 0px;
}
.menu__link {
     color: #324950;
     line-height: 18px;
}
/* --------------------------------------------------- */
@media (max-width: 768px){
     .menu__link {
          font-size: 22px;
     } 
}