@font-face {
     font-family: 'RobotoSlab';
     src: url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
          url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
          url('../fonts/RobotoSlab-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
   }

/* Обнуление */
*,
*::before,
*::after {
     padding: 0;
     margin: 0;
     border: 0;
     box-sizing: border-box;
}
a { 
     text-decoration: none;
}
ul,
ol,
li {
     list-style: none;
}
img {
     vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
     font-weight: inherit;
     font-size: inherit;
}
html,
body {
     height: 100%;
     line-height: 1;
     font-size: 18px;
     color: #324950;
     font-weight: 400;
     font-family: 'RobotoSlab';
}
/* --------------------------------------------------- */
 .wrapper{
      min-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
 }
/* --------------------------------------------------- */
 ._container {
      max-width: 1110px;
      padding: 0px 15px;
      margin: auto;
      box-sizing: content-box;
 }
 ._ibg {
      position: relative;
 }
._ibg img {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     object-fit: cover;
}
 /* ---Шапка---------------------------------------- */
 .header {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     z-index: 50;
}

.header__container {
     display: flex;
     min-height: 110px;
     align-items: center;
}
.header_logo {
     display: flex;
     width: 226px;
     height: 113px;
}
/* --------------------------------------------------- */
@media (max-width: 1024px){
     .header_logo {
     width: 150px;
     height: 76px
     } 
}
@media (max-width: 768px){
     .header_logo {
     width: 150px;
     height: 76px
     } 
}
/* --------------------------------------------------- */
.header__menu {
     margin: 100px 0px 0px 250px;    
}
/* --------------------------------------------------- */
@media (max-width: 1024px){
     .header__menu {
          margin: 60px 0px 0px 90px;  ;
     } 
}
@media (max-width: 768px){
     .header__menu {
          margin: 30px 0px 0px 5px;
     } 
}
/* --------------------------------------------------- */
.menu{
     padding: 15px 15px;
}
.menu__list {
     flex-wrap: wrap;
     display: flex;
     
}
.menu__item {
     margin: 0px 0px 0px 10px;
     padding: 15px 5px;
}
.menu__link {
     color: #324950;
     line-height: 18px;
}
/* --------------------------------------------------- */
@media (max-width: 768px){
     .menu__link {
          font-size: 22px;
     } 
}
/* ---Page---------------------------------------- */
.page {
     flex: 1 1 auto;
}
.page__main-block {
}
.page_info {
}
/* ---Подвал--------------------------------------------- */
.footer {

}
/* ---Main---------------------------------------- */
.main-block {
     position: relative;
}
.main-block__container {
}
.main-block__body{
     padding: 377px 0px 300px 0px;
     position: relative;
     z-index: 2;    
}
.main-block__title {
     font-size: 48px;
     color: #735440;
     text-align: center;
     font-weight: 700;
}
/* --------------------------------------------------- */
@media (max-width: 768px){
     .main-block__title {
          font-size: 32px;
     } 
}
/* --------------------------------------------------- */
.main-block__buttons {    
     display: flex;  
     justify-content: center;    
     padding: 16px 31px;
     font-weight: 500;
     z-index: 2;
     
}
.main-block__button {
     font-size: 18px;
     background: #57984C;
     color: #fff;
     display: flex;  
     justify-content: center;    
     padding: 16px 31px;
     z-index: 2;
     line-height: 142%;
}
/* --------------------------------------------------- */
@media (max-width: 768px){
     .main-block__button {
          font-size: 12px;
     } 
}
/* --------------------------------------------------- */
.main-block__image {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     object-fit: cover;
}
/* ---Main---------------------------------------- */


.info {
}
.info__conteiner {
     background-color: #fff;
     max-width: 1566px; /* 1566 */  
     padding: 0px 25px;
     box-sizing: content-box;
}
.info__body {
     flex-wrap: wrap;
     display: flex;
     margin: 0px -15px;
}
.info__column {
     padding: 30px 15px;
     flex: 0 1 13%;
}

@media (max-width: 990px){
     .info__column {
          flex: 0 1 25%;
     } 
}

@media (max-width: 500px){
     .info__column {
          flex: 0 1 35%;
     } 
}

.info__item {
     padding: 15px 0px;
     text-align: center;
     height: 100%;
     vertical-align: bottom;
}
.item-info {    
}
.item-info__icon { 
     height: 100%;   
}
.info-link{
     align-items: center;
     color: #324950;
     white-space: nowrap;
     vertical-align: top;
     font-weight: 400;
     font-size: 20px;
     line-height: 142.7%;
}
img.link-icon {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
}